
<!DOCTYPE html>
<html>

<head>
	<title>Sign Up</title>

	<link rel="" href="">
	<link href="" rel="">
	<script src=""></script>
</head>

<body style="">





	<div class="row" style="">
		<br>
		<center>
			<h1><b>Register</b></h1>
		</center>
		
		<hr>
		<form method="POST"action="/register"> 
			
		<div class="col-md-12">
			<div class="form-group">
				<label for="username">Companyname</label>
				<input type="text" name ="Compnayname" class="form-control" placeholder="Username" id="Companyname"/>
		    </div>
			<div class="form-group">
				<label for="username">Ownername</label>
				<input type="text"name= "Ownername" class="form-control" placeholder="First Name" id="Ownername"/>
			</div>
			<div class="form-group">
				<label for="username">GST_NO</label>
				<input type="text" name= "GST_NO" class="form-control" placeholder="Second Name" id="GST_NO"/>
			</div>
        </div>

		<div class="col-md-12">
			<div class="form-group">
			<label for="username">email</label>
				<input type="text" name="email" class="form-control" placeholder="Email" id="email"/>
			</div>
			<div class="form-group">
				<label for="username">mobile_no</label>
				<input type="text" name="mobile_no" class="form-control" placeholder="mobile_no" id="mobile_no"/>
			</div>
		
		
		</div>
		<br>
		<br>
		<div class="col-md-12">
		<button class="btn btn-primary">Register</button>
		<input type="submit">
		</div>
	</form>
	</div>


	<br><br>

</body>

</html> {% endcomment %}