<html>
    <head>
        <title>Payment</title>
        <head>
            <body>
                
                <center>
                    <h1>Make a Payment...</h1>
                    <br><br>
                
                    <form action = "/pay" method = "POST">
                        <scripts>
                        
                    
                      
                            <label for="register_id">Register_id:</label>
                            <input type="text" id="register_id" name="register_id"><br><br>
                            <label for="amount">Amount:</label>
                            <input type="text" id="amount" name="amount"><br><br>
                            
                            <br><center><button input = "submit" class="btn btn-primary">Pay</button></center><br>
                        
                        </scripts>
                        <input type="hidden" custom="Hidden Element" name="hidden">

                    </form>
                
                </center>



            </body>
    </html>