<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover"
    data-sidebar-image="none">

<head>

    <meta charset="utf-8" />
    <title>Table</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='admin_assets/images/favicon.ico')}}">

    <!-- gridjs css -->
    <link rel="stylesheet" href="{{url_for('static', filename='admin_assets/libs/gridjs/theme/mermaid.min.css')}}">

    <!-- Layout config Js -->
    <script src="{{url_for('static', filename='admin_assets/js/layout.js')}}"></script>
    <!-- Bootstrap Css -->
    <link href="{{url_for('static', filename='admin_assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{url_for('static', filename='admin_assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{url_for('static', filename='admin_assets/css/app.min.css')}}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{url_for('static', filename='admin_assets/css/custom.min.css')}}" rel="stylesheet" type="text/css" />

    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">


</head>

<body>


    <div id="layout-wrapper">

        <header id="page-topbar">
            <div class="layout-width">
                <div class="navbar-header">
                    <div class="d-flex">

                        <div class="navbar-brand-box horizontal-logo">
                            <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{{url_for('static', filename='admin_assets/images/logo-sm.png')}}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{{url_for('static', filename='admin_assets/images/logo-dark.png')}}" alt="" height="17">
                                </span>
                            </a>

                            <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{{url_for('static', filename='admin_assets/images/logo-sm.png')}}" alt="" height="22">
                                </span>
                                <span class="logo-lg">
                                    <img src="{{url_for('static', filename='admin_assets/images/logo-light.png')}}" alt="" height="17">
                                </span>
                            </a>
                        </div>

                        <button type="button"
                            class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
                            id="topnav-hamburger-icon">
                            <span class="hamburger-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </button>

                        <!-- App Search-->

                    </div>

                    <div class="d-flex align-items-center">

                        <div class="dropdown d-md-none topbar-head-dropdown header-item">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle"
                                id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="bx bx-search fs-22"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ..."
                                                aria-label="Recipient's username">
                                            <button class="btn btn-primary" type="submit"><i
                                                    class="mdi mdi-magnify"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user"
                                        src="{{url_for('static', filename='admin_assets/images/users/avatar-1.jpg')}}" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Anna
                                            Adame</span>
                                        <span
                                            class="d-none d-xl-block ms-1 fs-12 text-muted user-name-sub-text">Founder</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome Anna!</h6>
                                <a class="dropdown-item" href="pages-profile.html"><i
                                        class="mdi mdi-account-circle text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle">Profile</span></a>
                                <a class="dropdown-item" href="auth-logout-basic.html"><i
                                        class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span
                                        class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
                <a href="index.html" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{{url_for('static', filename='admin_assets/images/logol.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static', filename='admin_assets/images/logogo.png')}}" alt="" width="245">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="index.html" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{{url_for('static', filename='admin_assets/images/logol.png')}}" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{{url_for('static', filename='admin_assets/images/logogo.png')}}" alt=""width="200">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover"
                    id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>
    
            <div id="scrollbar">
                <div class="container-fluid">
    
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="/dashboared"  role="button"
                                aria-expanded="false" aria-controls="sidebarDashboards">
                                <i class="las la-tachometer-alt"></i> <span data-key="t-dashboards">Dashboards</span>
                            </a>
                        </li> <!-- end Dashboard Menu -->
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarApps">
                                <i class="lab la-delicious"></i> <span data-key="t-apps">Apps</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/plantable" class="nav-link" data-key="t-calendar"> Plan Detail
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/usertable" class="nav-link" data-key="t-calendar"> Company Detail
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="collapse menu-dropdown" id="sidebarApps">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="/companyplandetail" class="nav-link" data-key="t-calendar"> Company Plan Detail
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
    
                        <!-- <li class="nav-item">
                            <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarLayouts">
                                <i class="las la-columns"></i> <span data-key="t-layouts">Layouts</span>
                            </a>
                            <div class="collapse menu-dropdown" id="sidebarLayouts">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a href="layouts-horizontal.html" target="_blank" class="nav-link"
                                            data-key="t-horizontal">Horizontal</a>
                                    </li>
                                </ul>
                            </div>
                        </li> end Dashboard Menu -->
                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
    
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Table</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item active">table</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-animate">
                                <div class="card-body">
                                    <a href="/userindex"><button class="btn btn-primary">ADD NEW PLAN</button></a>
                                    <table id="example" class="display" style="width:100%">
                                        <thead style="color: #fff; background-color: #1977cc;">
                                            <tr>
                                                <th>Id</th>
                                                <th>Plan Name</th>
                                                <th>Plan Price</th>
                                                <th>Plan Type</th>
                                                <th>Number of Request</th>
                                                <th>Description</th>
                                                <th>Create Date</th>
                                                <th>Feature</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for val in  record %}
                                            <tr>
                                                <td>{{val[0]}}</td>
                                                <td>{{val[1]}}</td>
                                                <td>{{val[2]}}</td>
                                                <td>{{val[3]}}</td> 
                                                <td>{{val[4]}}</td>
                                                <td>{{val[5]}}</td>
                                                <td>{{val[6]}}</td>
                                                <td>{{val[9]}}</td>
                                                <td><a href="/edit/{{val[0]}}"><button class="btn btn-primary" >Edit</button></a>
                                                    <a href="/delete/{{val[0]}}"><button class="btn btn-danger" >DELETE</button></a></td>
                                            
                                            </tr>
                                            {% endfor %}
                                            
                                            
                                            
                                        </tbody>
                                       
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->





                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <center>
                            <div class="col-sm-12">
                                <script>document.write(new Date().getFullYear())</script> © Copyright Uniq Data Solution
                                Private Limited. All Rights Reserved.
                            </div>
                        </center>

                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->



    <!-- Theme Settings -->


    <!-- JAVASCRIPT -->
    <script src="{{url_for('static', filename='admin_assets/libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='admin_assets/libs/simplebar/simplebar.min.js')}}"></script>
    <script src="{{url_for('static', filename='admin_assets/libs/node-waves/waves.min.js')}}"></script>
    <script src="{{url_for('static', filename='admin_assets/libs/feather-icons/feather.min.js')}}"></script>
    <script src="{{url_for('static', filename='admin_assets/js/pages/plugins/lord-icon-2.1.0.js')}}"></script>
    <script src="{{url_for('static', filename='admin_assets/js/plugins.js')}}"></script>

    <!-- prismjs plugin -->
    <script src="{{url_for('static', filename='admin_assets/libs/prismjs/prism.js')}}"></script>

    <!-- gridjs js -->
    <script src="assets/libs/gridjs/gridjs.umd.js')}}"></script>
    <!-- gridjs init table data-->
    <script src="{{url_for('static', filename='admin_assets/js/pages/gridjs.init.js')}}"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <!-- App js -->
    <script src="{{url_for('static', filename='admin_assets/js/app.js')}}"></script>
    <script>
        $(document).ready(function () {
    $('#example').DataTable();
});

    </script>
</body>




</html>